ingress.birki.io {
  respond /health "OK" 200 {
    close
  }
}

# money.birki.io {
#   handle /* {
#     reverse_proxy ghostfolio:3333  {
#       header_up Host {host}
#     }
#   }
# }

### EXAMPLE ###
# localhost {
#   handle /* {
#     reverse_proxy fastapi:8000  {
#       header_up Host {host}
#     }
#   }
# }
