ingress.birki.io {
  respond /health "OK" 200 {
    close
  }
}

cache.tarkov.dev {
  reverse_proxy cache:8080 {
		header_down Strict-Transport-Security max-age=31536000;
	}

	basicauth /api/* {
		{env.CACHE_BASIC_AUTH_USER} {env.CACHE_BASIC_AUTH_PASSWORD}
	}

	encode {
		gzip 9
	}
}

hooks.birki.io {
  reverse_proxy hooks:8081 {
		header_down Strict-Transport-Security max-age=31536000;
	}

	encode {
		gzip 9
	}
}
